*{
    box-sizing: border-box;
}
body{
    background-color: rgb(8, 235, 235);
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.container{
    width: 550px;
    height: auto;
    min-height: 100px;
    margin: 100px auto;
    background-color:bisque;
    border-radius: 6px;

}

.titel{
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: block;
    float: none;
}

.title h3{
    font-size: 25px;
    text-align: center;
    font-family: fantasy;
    font-weight: normal;
    margin-top: 0px;
    box-shadow: 0px 1px #1feb1f;
    background: rgb(233, 9, 39);
    color: revert;

}
.main-wrapper{
    width: 130px;
    padding: 5px 20px;
    margin-left: 20px;
    display: inline-block;
}

.p-title{
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 0.5;
    letter-spacing: 1.5px;
    word-spacing: 2.5px;
}

input[type=text]{
    width: 120px;
    margin: auto;
    outline: none;
    min-height: 30px;
    padding: 8px;
    border-radius: 2px;
    border: 2px solid red;
}

button{
    width: 150px;
    height: 39px;
    margin-left: 35%;
    border: none;
    outline: none;
    background: greenyellow;
    color: brown;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}

#age{
    display: block;
    margin: 10px;
    margin-top: 40px;
    padding-bottom: 20px;
    overflow: hidden;
    font-size: 15px;
    color: blue;
    text-align: center;
}